
*{
    touch-action: manipulation;

}
header{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 10;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 4px;
    overflow-y: hidden;


}
.nav{
    display: flex;
    gap: 10px;
    align-items: center;
}
main{
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    width: 100%;
    height: 90.4%;
    flex-direction: column;
    flex-grow: 1;

}
.left-section,.right-section{
    width: 20%;
    height: 100%;
    overflow: auto;
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.right-section{
    background-color: black;
}
.middle-section{
    width: 59.5%;
    display: flex;
    flex-direction: column;
    height: 100%;

}
.middle-section-top{
    height: 50%;
    background-color: gray;
}
.middle-section-bottom{
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 55, 55);
}

.button{
    width: 100%;
}
.select-option{
    width: 100%;background-color: rgb(0, 0, 0); border: none;
    outline: none;
    color: white;
    
}

.bottom-button{
    width: 100%;
    height: 50px;
    
}
.submit-btn{
    width: 100%;
    height: 55px;
    
}
.button-group{
    position: relative;
    bottom: 0px;
    display: flex;
}

.right-btn{
    height: 100%;
    overflow: auto;
}

.intendation{
    text-indent: 20px;
}

summary::-webkit-details-marker {
    display: none;
  }
  summary {
    list-style: none;
  }

  .columnchart_values{
    height: 80%;
    width: 100px;
  }
  .graph-values{
    width: 100%;

}
label{
    font-size: 1.5em;
}

select {
    border-radius: none;
    -webkit-appearance: none; /* Remove default appearance for Safari */
    -moz-appearance: none; /* Remove default appearance for Firefox */
    appearance: none; /* Remove default appearance for other browsers */
    padding: 8px; /* Add padding for appearance consistency */
    background-color: white; /* Set background color */
    font-size: 16px; /* Set font size */
  }

select::after {
    content: '\25BE'; /* Unicode for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure the arrow doesn't intercept clicks */
  }

  .backButton{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    color: white;
    font-size: 2em;
  }

  .analysisInput{
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    box-shadow: 0px 0px 10px;
  }


  .accusedAnalysisForm{
    width: 60%;
    background-color: black;
  }


  @media (max-width:800px) {
    .right-section{
        display: none;
    }
    .middle-section{
        width: 70%;
    }
    .left-section{
        width: 29%;
    }
  }


  @media (max-width:700px) {
    
    .left-section{
        display: none;
    }
    .right-section{
        display: none;
    }
    .middle-section{
        width: 100%;
    }
    .analysisInput{
        width: 80%;
    }
    .crimeList{
        width: 100%;
    }
    .main{
        flex-wrap: wrap;
    }
    .accusedAnalysisForm{
        width: 90%;
        background-color: black;
      }

  }
